body {
    background: rgb(107, 142, 236);
    font: normal 12pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 5px;
}

img {
    border-radius: 50%;
}
